/*==========================================
* General Stuff
==========================================*/
h1, h2, h3, h4, h5, h6, p, li, span, a {
    font-family: 'Red Hat Display', sans-serif;
    color: #0B2541;
}
body {
    margin: 0;
}
section {
    padding: 40px 20px;
}
h1 {
    line-height: 50px;
    font-weight: 400;
    font-size: 44px;
    margin: 0;
}
.list ul {
    list-style: none;
    padding-left: 0;
}
.list ul li {
    position: relative;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    display: flex;
    align-items: flex-start;
    left: 20px;
    padding-bottom: 10px;
}
.list ul li:before {
    content: '';
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top: 0;
    border-bottom: 8px solid #0B2541;
    border-radius: 2.5px;
    transform: rotate(90deg);
    position: absolute;
    top: 7px;
    left: -20px;
}
/*==========================================
* Global Buttons
==========================================*/
.btn-dark, .btn-light {
    background: linear-gradient(180deg, #0B2541 0%, #213954 100%);
    box-shadow: 0px 20px 30px -10px rgb(11 37 65 / 36%), 0px 10px 10px -7px rgb(11 37 65 / 22%);
    border-radius: 20px;
    width: 100%;
    border: none;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    padding: 14px;
    padding-right: 30px;
    position: relative;
    transition: all .4s ease;
}
.btn-light {
    background: #fff;
    color: #0B2541;
}
.btn-dark:hover {
    background: #fff;
    color: #000;
}
.btn-light:hover {
    background: linear-gradient(180deg, #0B2541 0%, #213954 100%);
    color: #fff;
}
.btn-dark:after,
.btn-light:after {
    content: url(img/dark-btn-arrow.png);
    transform: scale(.5);
    position: absolute;
    top: 8px;
}
.b-right img {
    width: 100%;
}
.b-right {
    width: 100vw;
    margin-left: -20px;
}
/*==========================================
* Header
==========================================*/
.mobile-menu ul {
    list-style: none;
}
#masthead {
    width: 100%;
    transition: all .4s ease;
}
.mobile-nav {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    background: transparent;
    z-index: 2;
    position: fixed;
    width: calc(100% - 40px);
    top: 0;
    transition: all 1s ease;
}
.logo-container img {
    max-width: 170px;
}
.menu-toggle {
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: -5px;
}
.menu-toggle button {
    z-index: 2;
    position: relative;
    border: none;
    background: transparent;
}
.mobile-menu {
    height: 100vh;
    width: 100%;
    background: rgba(11, 37, 65, 0.8);
    backdrop-filter: blur(38.0559px);
    position: fixed;
    top: -100%;
    transition: all .4s ease;
}
/*-- HAMBURGER ICON --*/
.hamburger-icon,
.hamburger-icon::before,
.hamburger-icon::after {
    position: absolute;
    width: 18px;
    height: 2px;
    border-radius: 4px;
    background-color: #0B2541;
}
.hamburger-icon {
    top: calc(50% - 2px);
    left: calc(50% - 10px);
}
.hamburger-icon::before,
.hamburger-icon::after {
    content: "";
    left: 0;
}
.hamburger-icon::before {
    bottom: 4px;
}
.hamburger-icon::after {
    top: 4px;
}
/*-- MENU ACTIVE STATE --*/
.menu-toggle.active {
    background: #0B2541;
    position: relative;
    border-radius: 12px;
    padding: 2px;
}
.menu-toggle.active .hamburger-icon,
.menu-toggle.active .hamburger-icon::before,
.menu-toggle.active .hamburger-icon::after {
    height: 3px;
    background: #fff;
}
.menu-toggle.active .hamburger-icon {
    transform: rotate(-45deg);
}
.menu-toggle.active .hamburger-icon:after {
    transform: rotate(-270deg);
    top: -1px;
}
.menu-toggle.active .hamburger-icon::before {
    transform: scale(0);
}
.menu-toggle button, .hamburger-icon::after {
    transition: all 0.3s linear;
}
/*-- MENU ITEMS --*/
.mobile-menu ul {
    height: calc(100vh - 55px);
    position: relative;
    top: 55px;
    padding: 0;
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.menu-items a {
    color: #fff;
    opacity: 0.8;
    text-decoration: none;
    font-size: 1.3em;
    line-height: 2em;
}
.mobile-menu ul .menu-items:last-child {
    margin-top: 15px;
}
.menu-items .btn-light {
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0px 5px 15px rgba(11, 37, 65, 0.0988633), inset 0px 1px 1px rgba(255, 255, 255, 0.198548);
    padding: 14px 53px 16px 30px;
    line-height: 22px;
}
.menu-items .btn-light:after {
    transform: scale(.45);
    top: 10px;
}
/*-- Active Menu --*/
.mobile-menu.active {
    top: 0;
}
.active-menu {
    height: 100vh;
    overflow: hidden;
}
.active-menu #masthead,
.sticky-menu {
    background: rgb(255,255,255,.9);
    position: fixed;
    top: 0;
    z-index: 2;
}
.sticky-menu .mobile-nav {
    background: rgb(255,255,255,.9);
}
.active-menu .mobile-nav {
    background: #fff;
}
/*==========================================
* Hero Section
==========================================*/
.hero-sec h1 {
    max-width: 80%;
    font-size: 34px;
    line-height: 45px;
}
.hero-sec h1 span {
    font-weight: 700;
}
.hero-sec {
    background-image: url(/img/m-hero-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 80px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
/*-- Hero Logos --*/
.hero-logos img {
    width: auto;
    padding: 15px;
    max-height: 10vw;
}
.hero-logos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: -70px;
}
/*==========================================
* Second Section
==========================================*/
.scrolling-logos .s-heading {
    font-size: 16px;
    text-align: center;
}
:root {
    --marquee-width: 80vw;
    --marquee-height: 20vh;
    /* --marquee-elements: 12; */ /* defined with JavaScript */
    --marquee-elements-displayed: 5;
    --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
    --marquee-animation-duration: calc(var(--marquee-elements) * 3s);
  }
  
  .marquee {
    width: var(--marquee-width);
    height: var(--marquee-height);
    background-color: #fff;
    color: #eee;
    overflow: hidden;
    position: relative;
    margin-left: -20px;
  }
  .marquee-content {
    list-style: none;
    height: 100%;
    display: flex;
    position: relative;
    left: -10%;
    animation: scrolling var(--marquee-animation-duration) linear infinite;
  }
  .marquee-content:hover {
    animation-play-state: paused;
  }
  @keyframes scrolling {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements))); }
  }
  .marquee-content li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-shrink: 0;
    width: var(--marquee-element-width);
    max-height: 100%;
    font-size: calc(var(--marquee-height)*3/4); /* 5rem; */
    white-space: nowrap;
  }
  
  .marquee-content li img {
    width: 90%;
  }
  
  @media (max-width: 600px) {
    :root {
      --marquee-width: 100vw;
      --marquee-height: 16vh;
      --marquee-elements-displayed: 3;
    }
  }

/*=======================================
* Mobile Slider Section
=======================================*/
.m-slide {
    width: 100vw;
    margin-left: -20px;
    padding: 20px 0;
    margin-top: 100px;
    border-radius: 20px;
}
.m-slide * {
    padding: 0 20px;
}
.m-slide h2 {
    font-size: 32px;
    font-weight: 400;
}
.m-slide p {
    font-size: 16px;
    line-height: 22px;
}
#mobile-sliders {
    padding-top: 0;
}
#mobile-sliders .m-slide {
    background-size: cover !important;
    background-repeat: no-repeat !important;
}
#mobile-sliders .m-slide:first-child {
    background: url(img/bg/mobile-slider-1.jpg);
}
#mobile-sliders .m-slide:nth-child(2) {
    background: url(img/bg/slide-2.jpg);
}
#mobile-sliders .m-slide:nth-child(3) {
    background: url(img/bg/slide-3.jpg);
}
.m-slide img {
    width: 100%;
    padding: 0;
    transform: scale(1.1);
    margin-top: -75px;
}
.m-slide .btn-dark:after {
    display: none;
}
.m-slide .btn-dark {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
}
.m-slide .btn-dark:before {
    content: url(img/icon/butlerapp.png);
    position: relative;
    transform: scale(.5);
}
.m-slide .list ul {
    padding-top: 15px;
}
.m-slide .list ul li {
    padding-left: 0;
    font-size: 16px;
}

/*===============================================
* Video Section
===============================================*/
#videos {
    background: url(img/bg/video-section.jpg);
    background-size: cover;
}
.accordion {
    background: rgba(255, 255, 255, 0.76);
    width: 100vw;
    margin-left: -20px;
    padding: 20px 0;
    position: relative;
}
.accordion:not(.active):after {
    content: '';
    width: 100%;
    height: 1px;
    background: #0B2541;
    position: absolute;
    opacity: .1;
    bottom: 0;
}
.accordion.active {
    background: rgba(255, 255, 255, 0.76);
    box-shadow: 0px 5px 16px rgba(11, 37, 65, 0.103051);
    background-size: cover;
    border-radius: 20px;
    box-shadow: 0px 5px 16px rgba(11, 37, 65, 0.103051);
    margin-top: -8px;
}
.accordion:not(.active) {
    background: transparent;
}
.accordion.active:after {
    display: none;
}
.accordion > * {
    padding: 0 20px;
}
.accordion .a-header {
    display: flex;
    position: relative;
    align-items: center;
}
.accordion .a-header:before {
    background: #0B2541;
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    to
}
.accordion span {
    font-family: 'Roboto Mono', monospace;
    opacity: 0.3;
    font-size: 14px;
}
.accordion h3 {
    margin: 0;
    padding-left: 12px;
    font-size: 13px;
    line-height: 22px;
    font-weight: 500;
}
.accordion.active h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #0B2541;
}
.a-header:after {
    content: '\f078';
    font-family: "Font Awesome 5 Free";
    font-size: 12px;
    font-weight: 600;
    position: absolute;
    right: 20px;
    opacity: .3;
}
.accordion video {
    width: 100%;
    border-radius: 10px;
    margin-top: 20px;
}
.accordion p {
    font-size: 14px;
    line-height: 22px;
}
.accordion a {
    color: #29ABDC;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
}
.accordion a:after {
    content: '\f061';
    font-family: 'Font Awesome 5 Free';
    padding-left: 5px;
}
.accordions .accordion:not(.active) .a-body {
    display: none;
}
.accordion.active .a-header span {
    background: conic-gradient(from 90deg at 50% 50%, #515E6C 0deg, #0B2541 129.02deg, #515E6C 152.84deg, #0B2541 303.42deg, #515E6C 360deg);
    box-shadow: 0px 20px 30px -10px rgba(11, 37, 65, 0.363047), 0px 10px 10px -7px rgba(11, 37, 65, 0.224691);
    border-radius: 15px;
    opacity: 1;
    color: #fff;
    padding: 14px;
}
.accordion.active .a-header:after {
    display: none;
}
.accordions .accordion:last-child:after {
    display: none;
}
.separator {
    background: #F5F7F8;
    width: 100%;
    height: 10px;
}
/*===================================================
* Kunden Slider
================================================*/
#kunden {
    position: relative;
    padding-bottom: 0;
}
.kunden-head {
    text-align: center;
}
.kunden-head h2 {
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;
}
.kunden-head span {
    font-weight: 700;
}
.image-meta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.image-meta img {
    width: 80%;
    border-radius: 50%;
}
.meta-heading {
    margin-top: 10px;
}
.meta-sub-heading {
    opacity: 0.4;
    font-size: 11px;
    font-weight: 400 !important;
}
.kunden-body {
    text-align: center;
}
.kunden-body p {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    text-align: center;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 0;
    transition: all .8s ease;
}
.kunden-read-more {
    border: none;
    background: transparent;
    color: #29ABDC;
    font-size: .7em;
}
.quote-r {
    position: absolute;
    width: 50%;
    right: 0;
    top: 40px;
}
/*--Slider Controls--*/
.slider-controls {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    margin-top: 25px;
    position: relative;
    height: 31.5px;
    align-items: center;
}
.slider-controls > button {
    width: 40px;
    height: 4px;
    border: none;
    background: rgba(11, 37, 65, 0.163883);
    border-radius: 4px;
    z-index: 2;
}
.slider-controls > button.active {
    background: #0B2541;
}
.kunden-slide:not(.active) {
    display: none;
}
.lr-cont {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lr-cont button {
    border: none;
    background: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(11, 37, 65, 0.199326);
    border-radius: 12px;
    padding: 8px 12px;
}
.lr-cont button:first-child:before {
    content: '\f104';
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
}
.lr-cont button:last-child:after {
    content: '\f105';
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
}
/*=========================================================
* CTA Small
=====================================================*/
.cta-small {
    background: linear-gradient(270deg, #39B54A -4.02%, #29ABDC 80.22%);
    border-radius: 20px;
    padding-top: 20px;
}
.cta-small h2 {
    color: #fff;
    text-align: center;
}
/*=========================================================
* Hotspot Small
=====================================================*/
.service {
    background: #F5F7F8;
}
.service .team-img {
    background: transparent;
}
.service-head img {
    width: 100%;
    transform: scale(1.14);
}
.service-head {
    position: relative;
}
.hotspot-btn {
    position: absolute;
    width: 6.5vw;
    height: 6.5vw;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: heartbeat .7s infinite alternate;
    animation-timing-function: ease;
}
.hotspot-btn .inner-circle {
    border-radius: 50%;
    background: linear-gradient(180deg, #FFFFFF 0%, #F5F7F8 100%);
    box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.268529), 3px 4px 5px rgba(113, 21, 43, 0.514717);
    position: absolute;
    width: 3vw;
    height: 3vw;
}
.hotspot-btn .outer-circle {
    background: conic-gradient(from 90deg at 50% 50%, #FCB546 -41.58deg, #BD0053 55.71deg, #ED1E79 125.38deg, #F56F57 184.42deg, #FDBE84 217.83deg, #FFD490 242.3deg, #FECE83 269.94deg, #FCB546 318.42deg, #BD0053 415.71deg);
    box-shadow: 3px 12px 12px -4px rgba(68, 23, 43, 0.676766), inset 0px 1px 0px rgba(255, 255, 255, 0.411162), inset 0px -1px 0px rgba(0, 0, 0, 0.143649);
    position: absolute;
    width: 6.5vw;
    height: 6.5vw;
    border-radius: 50%;
}
.service .hotspot .hotspot-btn:first-child {
    top: 10%;
}
.service .hotspot .hotspot-btn:nth-child(2) {
    top: 27%;
    left: 28%;
}
.service .hotspot .hotspot-btn:nth-child(3) {
    top: 30%;
    left: 52%;
}
.service .hotspot .hotspot-btn:nth-child(4) {
    top: 25%;
    right: 7%;
}
.hotspot-btn.inactive .outer-circle {
    background: rgba(255, 255, 255, 0.39);
    box-shadow: 3px 12px 12px -4px rgba(0, 0, 0, 0.316691), inset 0px 1px 0px rgba(255, 255, 255, 0.411162), inset 0px -1px 0px rgba(0, 0, 0, 0.143649);
}
.hotspot-btn.active:after {
    content: '\f0d8';
    position: absolute;
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    bottom: -15px;
    color: #fff;
}
/*-- Heartbeat animation --*/
@keyframes heartbeat {
    100% {
        transform: scale(1.1);
    }
}
/*===============================================
* Member Cards
===============================================*/
.member {
    position: absolute;
    background: #FFFFFF;
    box-shadow: 0px 13px 48px -13px rgba(11, 37, 65, 0.239726), 0px 35px 83px rgba(3, 11, 20, 0.349973);
    border-radius: 8px;
    padding: 15px;
    margin-top: 10vw;
}
.member .head {
    display: flex;
    align-items: center;
}
.member .meta {
    display: flex;
    flex-direction: column;
}
.member .name {
    font-weight: 700;
}
.member .designation {
    font-size: 12px;
    opacity: 0.4;
}
.profile-img {
    width: 50px !important;
    margin-right: 10px;
}
.member .body p {
    font-size: 13px;
}
.member a {
    color: #29ABDC;
    font-size: 13px;
    font-weight: 400;
    text-decoration: none;
}
.member a:after {
    content: '\f061';
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    position: relative;
    top: 1px;
    padding-left: 7px;
}
.member.michael {
    z-index: 2;
}
.member {
    display: none;
}
.service-content h2 {
    font-weight: 400;
    margin-top: 30px;
}
.service-content h2 span {
    font-weight: 700;
}
.service-content p {
    font-size: 14px;
}
/*===============================================
* Support Section
===============================================*/
section.support h2 {
    font-weight: 400;
}
section.support h2 span {
    font-weight: 700;
}
.grad-pointers {
    margin-top: 30px;
    display: flex;
}
.grad-pointers span {
    max-height: 22px;
}
.grad-pointers span {
    font-family: 'Roboto Mono', monospace;
    background: conic-gradient(from 90deg at 50% 50%, #1C72B5 -15.75deg, #99DDFF 124.68deg, #1C72B5 270deg, #1C72B5 344.25deg, #99DDFF 484.68deg);
    box-shadow: 0px 20px 30px -10px rgba(11, 37, 65, 0.363047), 0px 10px 10px -7px rgba(11, 37, 65, 0.224691);
    border-radius: 20px;
    padding: 12px 14px;
    color: #fff;
    margin-right: 20px;
}
.support .grad-pointers:nth-child(3) span {
    background: conic-gradient(from 90deg at 50% 50%, #CEC6BE -106.16deg, #4B3E3E 125.78deg, #CEC6BE 253.84deg, #4B3E3E 485.78deg);
}
.support .grad-pointers:nth-child(4) span {
    background: conic-gradient(from 90deg at 50% 50%, #FF8E8F 0deg, #B8077C 135deg, #FF8E8F 360deg);
}
.support .grad-pointers:nth-child(5) span {
    background: conic-gradient(from 90deg at 50% 50%, #B79EDB -90deg, #5D3BEA 143.08deg, #B79EDB 270deg, #5D3BEA 503.08deg);
}
.support .grad-pointers:nth-child(6) span {
    background: conic-gradient(from 90deg at 50% 50%, #F4D56E -71.15deg, #C85400 156.53deg, #F4D56E 288.85deg, #C85400 516.53deg);
}
.support .grad-pointers:nth-child(7) span {
    background: conic-gradient(from 90deg at 50% 50%, #006F6D -38.04deg, #79D281 69.35deg, #006F6D 321.96deg, #79D281 429.35deg);
}
.grad-pointers h3 {
    margin-top: 10px;
}
.grad-pointers p {
    font-size: 14px;
}
/*===============================================
* FAQs Section
===============================================*/
.faqs h2 {
    text-transform: uppercase;
    text-align: center;
    font-weight: normal;
    font-size: 1.7em;
}
section.faqs {
    background: url(img/bg/faqs.jpg);
}
.faq {
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 2px 4px -1px rgba(11, 37, 65, 0.0861492), inset 0px 1px 0px rgba(255, 255, 255, 0.696835);
    border-radius: 8px;
    padding: 10px;
    position: relative;
    margin-bottom: 10px;
}
.faq-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.faq img {
    width: 50px;
    height: 50px;
    padding: 5px;
    border-radius: 50% 50% 50% 4px;
    background: #FFFFFF;
    box-shadow: 0px 1px 1px rgb(11 37 65 / 10%);
    transition: all .4s ease;
    position: absolute;
    right: 10px;
}
.faq.active img {
    border-radius: 50% 4px 50% 50%;
    background: linear-gradient(90deg, #FBB03B 0%, #ED1E79 100%);
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.faq-body p,
.faq-body ol li {
    font-size: 13px;
    padding-left: 10px;
    padding-bottom: 5px;
}
.faq-body ol {
    padding-left: 25px;
}
.active-profile {
    text-align: right;
    display: flex;
    justify-content: flex-end;
    padding: 0 80px 7px;
}
.active-content {
    display: flex;
    flex-direction: column;
}
.active-content span:first-child {
    font-weight: 700;
    font-size: 0.9em;
}
.active-content span:nth-child(2) {
    font-size: 0.8em;
    opacity: 0.4;
}
.active-content a {
    color: #29ABDC;
    text-decoration: none;
    font-size: 0.8em;
}
.active-content a:after {
    content: '\f061';
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    padding-left: 5px;
    position: relative;
    top: 1px;
}
.faq-body {
    display: none;
}
.faq-close {
    position: absolute;
    top: 30px;
    right: 10px;
    background: none;
    border: none;
    font-weight: bold;
    opacity: .4;
    transition: all .4s ease;
}
.faq:not(.active) .faq-close {
    opacity: 0;
    z-index: -1;
}

